@model List<DevoteWebsite.ViewModels.StoreCartItemViewModel>

@foreach (var item in Model)
{
    <tr class="text-center align-middle">
        <td>@item.Name</td>
        <td>@item.Quantity</td>
        <td>@item.Price</td>
        <td>
            <button type="button" class="btn-close remove-item" data-uid="@item.Uid" data-name="@item.Name"></button>
        </td>
    </tr>
}

    <script>
        function getAntiForgeryToken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
             return token;
       }

        $(document).ready(function () {
               $(".btn-close.remove-item").off("click").one("click", function (e) {
                 e.preventDefault();
                var uid = $(this).data("uid");
             var name = $(this).data("name");
                $.ajax({
                    url: '@Url.Action("RemoveFromCart", "Store")', 
                    type: 'POST',
                    data: { uid: uid },
                     beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken", getAntiForgeryToken());
                    },
                    success: function (response) {
                         $("#CartTable").html(response);
                      Toastify({
             text: `${name} has been removed from the cart.`,
              duration: 3000,
             newWindow: true,
             close: false,
             gravity: "top",
              position: "right",
             stopOnFocus: false,
                 style: {
                      background: "linear-gradient(to right, #2196f3, #90caf9)",
                       }}).showToast();
                    },
                    error: function () {
                        alert('Error occurred while trying to remove the item.');
                    }
                });
            });
        });
    </script>
